<!-- <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
 -->


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Create an account to continue to Potatr</h1>
            <div class="account-wall">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
          
                <%= f.email_field :email, placeholder:"Email", class:"form-control", autofocus: true  %>
                <%= f.password_field :password, placeholder:"Password", class:"form-control",autocomplete: "off" %>
                <%= f.password_field :password_confirmation, placeholder:"Password again",  class:"form-control", autocomplete: "off" %>


                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign up</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
<% end %>
            </div>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>