<!-- <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>

 -->


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to Potatr</h1>
            <div class="account-wall">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
          
                <%= f.email_field :email, placeholder:"Email", class:"form-control", autofocus: true  %>

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                   Reset password</button>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
<% end %>
            </div>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>