<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= @video.title %>

<% unless @video.persisted? %>
  <div class="field">
    <%= f.label :video_hash%><br>
    <%= f.text_field :video_hash, :value => params[:v] %>
  </div> 
<% end %>
  <div class="field">
    <%= f.label :tag_list %><br>
    <%= f.text_field :tag_list, 'data-role'=>'tagsinput' %>
  </div>
<!--   <div class="field">
    <%= f.label :paused_at %><br>
    <%= f.number_field :paused_at %>
  </div> -->
<!--   <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
