<div class="page-header">
  <% if params[:tag] %>
  <h3>For "<%= params[:tag] %>"</h3>
  <% else %>
  <h3>All Videos</h3>
  <% end %>
</div>

 <STYLE type="text/css">
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.4em; }
.css3 { font-size: 1.6em; }
.css4 { font-size: 1.8em; }
</STYLE>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
    <div class="row"> <!-- thumbs -->
    <div class="col-md-10" >
        <%= paginate @videos %>
        <% @videos.each_slice(3) do |videos| %>
        <div class="row">
          <% videos.each do |video| %>   
          <div class="col-xs-4 col-md-4 portfolio-item">
            <%= link_to video do %>
              <img class="img-responsive" src="<%= video.thumbnail_url %>">
            <% end %>
            <div class="caption pull-center separated">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= video.progress %>%; ">
                    <%= video.paused_at != 0 ? "#{ChronicDuration.output(video.paused_at, :format => :long) }": "Unwatched" %>
                </div>
              </div>

              <%= link_to video.title, video, class: "pull-center separated" %>
              (<%= ChronicDuration.output(video.duration, :format => :chrono) %>)
            </div>
           </div>
           <% end %>
         </div>
        <% end %>
      </div>
  </div>
    </ul>
    </div>
    <div class="col-md-2"> <!-- tags -->
      <%= render "tags" %>
    </div>

  </div>
</div>
