

<p>
  <strong>tag list:</strong>
  <%= @video.tag_list %>
</p>


<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @video.video_hash %>
</p>

<p>
  <strong>Paused at:</strong>
  <%= ChronicDuration.output(@video.paused_at, :format => :long) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<div id="content">
	<div id="player"></div>
</div>


<script type="text/javascript" src="/lib/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/lib/jquery-ui-1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript">

	function createPlayer() {
		if (typeof YT === 'undefined' || typeof YT.Player === 'undefined') {
			setTimeout(createPlayer, 100);
		} else {
			createYTPlayerForVideo("<%= @video.video_hash %>",  <%= @video.paused_at %>, <%= @video.id %>);
		}
	}

	$( document ).ready( function() {
		createPlayer();	
	});
</script>

<div class="container">
<%= link_to 'New', new_video_path,  class: "btn btn-success pull-center" %>
<%= link_to 'Edit', edit_video_path(@video),  class: "btn btn-success pull-center" %>
<%= link_to 'Back', videos_path,  class: "btn btn-success pull-center" %>
<%= link_to 'Destroy', @video, class: "btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %> 


</div>
