Here you go:

<div class="container">
	<% @videos.each do |v| %>  
	<div class="row">
		<div class="col-xs-4 portfolio-item">
			<%= v.video_hash %>:<%= v.tag_list %>:<%= v.paused_at %>
		</div>  
	</div>
	<% end %>
</div>