<p id="notice"><%= notice %></p>

<h1>Listing popular tags</h1>

<table>
  <thead>
    <tr>
      <th>tag name</th>
      <th>count</th>
    </tr>
  </thead>

  <tbody>
    <% @tags[:popular_tags].each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.taggings_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Listing your tags</h1>

<table>
  <thead>
    <tr>
      <th>tag name</th>
      <th>count</th>
    </tr>
  </thead>

  <tbody>
    <% @tags[:user_tags].each do |tag| %>
      <tr>
        <td><%= link_to tag.name, :controller => "videos", :tag => tag.name %></td>
        <td><%= tag.taggings_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  <%= link_to('Back to Welcome', welcome_index_path)  %>  

