<!DOCTYPE html>
<html>
<head>
  <title>Potatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
</head>
<body>


  <div class="navbar navbar-default navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
     <a href="/" class="navbar-brand">potatr</a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if user_signed_in? %>

    <ul class="nav navbar-nav">
      <li>
          <%= link_to new_video_path, title: "Add new video" do %>
              <span class="glyphicon glyphicon-plus" aria-hidden="true">
          <% end %>
      </li>
      <li>
        <%= link_to  tags_path, title: "Tags" do %>
            <span class="glyphicon glyphicon-tags" aria-hidden="true">
        <% end %>
       </li>
    </ul>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <span class="glyphicon glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
</a>
          <ul class="dropdown-menu">
            <li><a href="/export">Export</a></li>
            <li><a href="/import">Import</a></li>
            <li><a href="#">Settings</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        </li>
          </ul>

        </li>
        <%else%>
        <li>
  <%= link_to('Login', new_user_session_path)  %>  
        </li>
        <% end %>
    </ul>

  </div>
</div>
</div>


<%= flash_messages %>

<div class="container-fluid bodyContent">
	<%= yield %>
</div>


<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
      <a href="javascript:(function(){if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='https://potatr.duckdns.org/bookmarklet.js?';}})();">Bookmarklet</a>
      <p>Copyright &copy; Big N Tall 2032</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

</body>
</html>
